<div class="header">
  <img src='/img/otter.png'>
  <h1><a href="/">Survey Otter</a></h1>
  <div id='logout'>
    <% if session[:login] %>
      <p>Welcome, <%= session[:username] %> the Otter!</p><br>
      <a href='/logout'>Logout</a>
    <% else %>
      <p>Welcome, Anonymous Otter!</p><br>
      <a href='/login'>Login</a>
    <% end %>
  </div>
</div>
