<div class="container">
  <p>Log in to create or take a survey! (The links are inactive otherwise.)</p>
  <ol>
    <% @surveys.each do |survey| %>
    <li><a href="/surveys/<%= survey.id %>"><%= survey.title %></a></li>
    <% end %>
  </ol>
  <% if session[:user_id] != nil %>
  <a href="/surveys/new">Create a Survey!</a>
  <% else %>
  <% end %>
</div>
