<div class="container">
  <ol>
    <% @surveys.each do |survey| %>
    <li><a href="/surveys/<%= survey.id %>"><%= survey.name %></a></li>
    <% end %>
  </ol>
  <a href="/surveys/new">Create a Survey!</a>
</div>
