<div class='container'>
<form id='survey-builder' action="/surveys" method="post">
  <input name="survey[title]" placeholder="title">
  <ol>
    <li>
      <input type='text' name='survey[questions][][question]' placeholder='question'>
      <button class='remove-button'>✖</button>
      <button class='button add-option'>add option</button>
      <ul>
        <li><input type='text' name='survey[questions][][options][]' placeholder='option'><button class='remove-button'>✖</button></li>
      </ul>
    </li>
  </ol>
  <a href="#" class='button add-question'><button>Add question</button></a>
  <input type='submit' value='Create My Survey!'/>
</form>
</div>


<% content_for :script do %>
  <script src="/js/survey_builder.js"></script>
<% end %>

<% content_for :style do %>
  <link rel="stylesheet" href="/css/survey_builder.css"/>
<% end %>
