<div class='container'>
<h1>Create An-Otter Survey!</h1>
<form id='survey-builder' action="/surveys" method="post">
  Survey Title: <input class='survey-title' name="survey[title]" placeholder="One Bad Mutha-Otter Survey">
  <ol>
    <li>
      <input class='question' type='text' name='survey[questions][][question]' placeholder='What do you want to ask?'>
      <button class='remove-button'>✖</button>
      <button class='button add-option'>add option</button>
      <ul>
        <li><input class='option' type='text' name='survey[questions][][options][]' placeholder='an option'> <button class='remove-button'>✖</button></li>
      </ul>
    </li>
  </ol>
  <button class='button add-question'>Add question</button>
  <div class='bottom-border'></div>
  <input class='button' id='create-survey' type='submit' value='Create My Survey! >>'/>
</form>
</div>


<% content_for :script do %>
  <script src="/js/survey_builder.js"></script>
<% end %>

<% content_for :style do %>
  <link rel="stylesheet" href="/css/survey_builder.css"/>
<% end %>
