<div class='container'>
<form id='survey-builder' action="/surveys" method="post">
  <input name="survey[title]" placeholder="title">
  <ol>
    <li><input type='text' name='survey[questions][][question]' placeholder='question'>
      <ul>
        <li><input type="text" name="survey[questions][][options][]" placeholder='option'></li>
        <li><input type="text" name="survey[questions][][options][]" placeholder='option'></li>
        <li><input type="text" name="survey[questions][][options][]" placeholder='option'></li>
        <li><input type="text" name="survey[questions][][options][]" placeholder='option'></li>
      </ul>
    </li>
    <li><input type='text' name='survey[questions][][question]' placeholder='question'>
      <ul>
        <li><input type="text" name="survey[questions][][options][]" placeholder='option'></li>
        <li><input type="text" name="survey[questions][][options][]" placeholder='option'></li>
        <li><input type="text" name="survey[questions][][options][]" placeholder='option'></li>
        <li><input type="text" name="survey[questions][][options][]" placeholder='option'></li>
      </ul>
    </li>
  </ol>

  <input type='submit' value='Create My Survey!'/>
</form>
<!-- <a href='#' class= -->
</div>


<% content_for :script do %>
<script src="/js/survey_builder.js"></script>
<% end %>
