html {
  background: url('/img/forest.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}





body {
  font-family: 'Special Elite', sans-serif;

}

.container {
  box-sizing: border-box;
  margin: 0 auto;
  width: 1010px;
  padding: 0 40px 20px 40px;
  border-radius: 2px;
  background-color: white;
  /*color: #E6AE17;*/
  border:5px solid #E6AE17;
}

th {
  text-align: left;
}

#user-box {
  position: absolute;
  top: 0;
  right: 0;
}

#user-box > * {
  font-size: 0.6em;
  color: white;
  float: right;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

#user-box button {
  display: inline-block;
}

button, .button {
  width: 100px;
  background-color: #E65F17;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

button:hover, .button:hover {
  background-color: #E6AE17;
}

#new-post > input, textarea {
  box-sizing: border-box;
  width:100%;
  margin: 20px 0 0 0;
  padding: 10px;
}
/*
.login {
  box-sizing: border-box;
  margin-top: 24px;
  display: inline-block;
  vertical-align: top;
  padding: 0 50px;
}

.login:last-child {
  border-left: 2px solid #042E50;
}


.login-form > input {
  box-sizing: border-box;
  margin: 20px 0 0 0;
  padding: 10px;
  display: block;
}
*/
.header {
  margin: 30px 50px;
  padding: 5px 10px;
  font-size: 1.6em;
  position: relative;
  background-color: green;
  background-color:rgba(30,130,0,0.5);
}

.header h1 a {
  font-family: 'Ribeye Marrow', cursive;
  color: #E6AE17;
  text-decoration: none;
}

.header > * {
  margin: 0;
  display: inline-block;
}
.header img {
  height: 90px;
}

.comment {
  margin: 20px auto;
  width: 96%;
  padding: 1px 10px;
  border-radius: 2px;
  background-color: #F6DE9C;
}

.post-body {
  font-size: 1.2em;
}

.comment-body {
  margin-left: 24px;
  font-size: 1em;
}

.comment-timestamp {
  text-align: right;
  font-size: .8em;
}

#new-comment textarea {
  margin: 0;
}

.errors {
  width: 160px;
  color: red;
  font-size: .9em;
  margin-bottom: 5px;
}


#login {
  float: right;
  display: none;
  background-color: #6A92D4;
  padding: 10px;
  border-radius: 5px;
  background-color:rgba(0,0,0,0);
}

#login form > * {
  display: inline-block;
  margin-bottom: 10px;
}

#login input:nth-child(2) {
  display: inline-block;
}

#login input:nth-child(3) {
  display: block;
  margin: 0px;
}

#login a {
  float: right;
  margin-right: 5px;;
}

#signup {
  float: right;
  display: none;
  background-color: #6A92D4;
  padding: 10px;
  border-radius: 5px;
}

#signup input:nth-child(3) {
  display: block;
}

#signup input:last-child {
  display: inline-block;
}

#signup form > * {
  display: inline-block;
  margin-bottom: 5px;
}

#signup a {
  float: right;
  margin-right: 5px;
}

input {
  margin: 5px;
  padding: 3px;
}

#non-user a {
  margin-right: 5px;
  float: right;
}

#non-user button:last-child {
  margin-right: none;
}

#non-user {
  margin-bottom: 5px;
  text-align: center;
}

.random_otters {
  display: inline-block;
  width: 200px;
  height: 150px;
  margin: 0;
}

#random_otters_container {
  margin: 0 auto;
  width: 1000px;
  font-size:0;
  border:5px solid #E6AE17;
  border-bottom:none;
}
.taken_survey_questions {
  list-style: none;
}

#user {
  margin-top: 20px;
}

#user > a {
  margin: 4px;
}





