.remove-button {
  width: 20px;
  margin: 0;
  background-color: white;
  color: red;
  border: none;
  padding: 0;
  border-radius: 10px;
  /*line-height: 10px;*/
}

.remove-button:hover {
  width: 20px;
  margin: 0;
  background-color: white;
  color: red;
  border: none;
  padding: 0;
  border-radius: 10px;
  /*line-height: 10px;*/
}
